*,
.button {
    color: #DDD;
}

.red {
    color: #FF260F;
}

body {
    background-color: #212329;
}

code {
    background-color: #212329;
}

.red code {
    border-color: #FF260F;
    color: #FF260F;
}